%header
  チャットグループが作成されました。
.contents.clearfix
  .left-block
    .left-upper
      name
      %i.fa.fa-gear.fa-fw
      %i.fa.fa-pencil-square-o.fa-fw
    .left-lower
      %ul
        %li.group_name group_name
        %li.last_chat last_chat
  .right-block
    .right-block-upper
      .edit-bottom
        Edit
      %ul
        %li.group_name group_name
        %li.surname_name
          Member：#{@name}
    .right-block-lower
      - @chats.each do |chat|
        .surname_name Member
        %p reg_time
        .chachachat
          = simple_format(chat.body)
    %footer
      .send-bottom Send
      .type-message
        Commit with your message.
        %i.fa.fa-photo.fa-fw
        %div{:image => ""}
