$leftBlockWidth: 260px;
$leftBlockColor: #FFF;
.left-block {
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
  float: left;
    .left-upper {
      height: 22px;
      width: $leftBlockWidth;
      background-color: #253141;
      font-weight: bold;
      color: $leftBlockColor;
      font-size: 16px;
      padding: 35px 20px 35px 20px;
        .btn icon-edit icon-4x {
        }
        .btn icon-cog icon-4x {
        }
    }
    .left-lower {
      width: $leftBlockWidth;
      padding: 0 20px;
      color: $leftBlockColor;
        .group_name {
            font-size: 15px;
            margin-bottom: 5px;
          }
        .last_chat {
            font-size: 11px;
          }
    }
}
